.card-container {
    cursor: grab;
    height: 400px;
    width: 90%;
    /* min-width:400px; */
    perspective: 800px;
    position: relative;
    margin: 0 auto;
    transition: ease-in;
    background-color: lightblue;
  }
  
  .card {
    height: 400px;
    width: 100%;
    position: absolute;
    border: 1px solid #300;
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
  }
  
  .card:hover {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;
  }
  
  .card .front {
    height: 400px;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 251, 251, 1);
  }
  
  .card .back {
    height: 400px;
    width: 100%;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  .details-wrapper{
    margin:0;
    border: 1px solid green;
    height: 50%;
  }

  .priorities{
    color: #333;
    font-size: 0.8em;
    text-align: left;
    float:left;
    width:50%;
    overflow:hidden;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 0.5em solid lightblue;

  }
  
  .concerns{
    color: #333;
    font-size: 0.8em;    
    text-align: left;
    float:right;
    width:50%;
    overflow:hidden;    
  }
  
  .role{
      color: rgba(200, 10, 10, 1);
      font-size: 1.3em;
      padding-top: 0%;
  }

  .question{
    background-color: lightblue;
    height: 50%;
    }
