.card-container {
    /* height: 600px; */
    width: 90%;
    /* min-height:600px; */
    perspective: 1000px;
    position: relative;
    /* margin: 0 auto; */
    transition: ease-in;
    background-color: #004e73;
    display: flex;
    flex-wrap: wrap;
  }
  
  img {max-width:100%;}

  .card {
    cursor: grab;
    height: 300px;
    width: 100%;
    /* min-width:400px; */
    border: 1px solid #300;
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }
  
  .card:hover {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;
  }
  
  .card .front {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: #004e73;
    border-radius: 25px;
  }
  
  .card .back {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    overflow: hidden;
    transform: rotateY(180deg);
    background-color: #004e73;
    border-radius: 25px;
  }
  
  .details{
    /* height: 100%;  */
    background-color: #6994ab; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    margin: 0 auto;

  }

  .details_wrapper{
    /* height: 100%; */
    background-color: #d1dbe3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }

  .priorities{
    color: #333;
    font-size: 2vh;
    text-align: left;
    /* float:left; */
    width:100%;
    /* overflow:hidden; */
    display: block;
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    /* border-right: 0.2em solid black; */
    padding: 25px;
  }
  
  .concerns{
    color: #333;
    font-size: 2vh;   
    text-align: left;
    /* float:right; */
    width:100%;
    overflow:hidden; 
    padding: 25px;
  }
  
  .role{
      color: rgb(255, 255, 255);
      font-size: 0.8em;
      height: 100%;
      /* padding-top: 0%; */   
      background-color: #004e73;   
  }

  .question{
    background-color: #004e73;
    color: white;
    font-size: 0.8em;
    height: 100%;
    }
